<mat-card>
    <mat-card-content>
        <mat-card class="information-title" color="primary">Thông tin cá nhân</mat-card>
        <form class="information-form" [formGroup]="formUpEmployee" (ngSubmit)="updateEmployee()">
            <mat-form-field class="information-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [value]="employee?.email">
              </mat-form-field>
            <mat-form-field class="information-full-width">
                <mat-label>Họ tên</mat-label>
                <input matInput formControlName="fullName" [value]="employee?.fullName" autocomplete="off">
                <mat-error *ngIf="fullName.invalid && fullName.touched && fullName.errors.required"> Tên không rỗng </mat-error>
                <mat-error *ngIf="fullName.invalid && fullName.touched && fullName.errors.minlength"> Tên không ít hơn 5 kí tự </mat-error>
                <mat-error *ngIf="fullName.invalid && fullName.touched && fullName.errors.specialCharacter"> Tên chứa kí tự đặt biệt </mat-error>
            </mat-form-field>
            <table class="information-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="information-full-width">
                            <mat-label>Số điện thoại</mat-label>
                            <input matInput type="number" formControlName="telephone" [value]="employee?.telephone" autocomplete="off">
                            <mat-error *ngIf="telephone.invalid && telephone.touched && telephone.errors.required"> Số điện thoại không rỗng </mat-error>
                            <mat-error *ngIf="telephone.invalid && telephone.touched && telephone.errors.minlength"> Không ít hơn 10 số </mat-error>
                            <mat-error *ngIf="telephone.invalid && telephone.touched && telephone.errors.maxLength"> Không nhiều hơn 12 số </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="information-full-width">
                            <mat-label>Ngày sinh</mat-label>
                            <input matInput formControlName="birthday" [matDatepicker]="dp3" [value]="employee?.birthday" disabled autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                            <mat-error *ngIf="birthday.invalid && birthday.touched && birthday.errors.required"> Ngày sinh không rỗng </mat-error>
                            <mat-error *ngIf="birthday.invalid && birthday.touched && birthday.errors.curentDay"> Không lớn hơn ngày hiện tại </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-form-field class="information-full-width">
                <mat-label>Địa chỉ</mat-label>
                <textarea matInput autocomplete="off"></textarea>
            </mat-form-field>
            <button mat-raised-button [disabled]="formUpEmployee.invalid" color="primary" type="submit">Cập nhật</button>
          </form>
    </mat-card-content>
  </mat-card>

