<div class="container">
  <div class="row">
    <div class="leftcolumn">
      <mat-card class="leftcolumn-card">
        <mat-card-header>
          <img mat-card-avatar src="{{img}}" alt="" (click)="openAvatar()">
          <mat-card-title>{{ employee?.fullName }}</mat-card-title>
          <mat-card-subtitle>{{ userName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
      </mat-card>
    </div>
    <div class="rightcolumn">
      <app-information></app-information>
      <app-password></app-password>
    </div>
  </div>
</div>