form {
  position: absolute;
  padding-top: 20px;
}

.formEmployee {
  padding-left: 80px;
}

mat-form-field {
    margin-left: 20px;
    margin-bottom: 10px;
}

.width-450 {
  width: 450px;
}

.width-215 {
  width: 215px;
}

.btn-formEm {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-radio-group {
  margin-left: 20px;
}

mat-radio-button {
  align-content: center;
  align-items: center;
  margin-left: 15px;
}

h1 {
  text-align: center;
  border-bottom: 1px solid;
}

.error {
  position: absolute;
  display: block;
  display: block;
  color: #f44336;
  font-size: 75%;
  padding-top: 20px;
}