.forgot{
    height: 100%;
    width: 35%;
    margin-left: 32.5%;
    align-content: center;
    padding-top: 50px;
    display: block;
    min-height: 800px;
}

mat-card-header {
    display: block;
    border-bottom: 1px solid;
    text-align: center;
}

mat-card-title {
    margin-top: 12px;
}

.mg-lt {
    margin-left: 15px;
}

.error {
    position: absolute;
    display: block;
    display: block;
    color: #f44336;
    font-size: 75%;
    padding-top: 20px;
}