<div class="forgot">
	<mat-card class="forgot-card">
		<mat-card-header>
			<mat-card-title>Quên mật khẩu</mat-card-title>
		</mat-card-header>
		<mat-card-content>
            <mat-vertical-stepper linear #stepper>
                <mat-step [stepControl]="formEmail">
                    <form [formGroup]="formEmail" (ngSubmit)="verifyEmail(stepper)">
                        <ng-template matStepLabel>Nhập email của bạn</ng-template>
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" autocomplete="off">
                                        <mat-error *ngIf="email.invalid && email.touched && email.errors.required"> Email không rỗng </mat-error>
                                        <mat-error *ngIf="email.invalid && email.touched && email.errors.email"> Email không hợp lệ </mat-error>
                                        <div class="error" *ngIf="Email"> Email không tồn tại </div>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button mat-button [disabled]="formEmail.invalid">Tiếp</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </mat-step>
                <mat-step [stepControl]="formverifyEmail">
                    <form [formGroup]="formverifyEmail" (ngSubmit)="verifyToken(stepper)">
                        <ng-template matStepLabel>Xác nhận email</ng-template>
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <mat-label>Mã xác thực</mat-label>
                                        <input matInput formControlName="verifytoken" autocomplete="off">
                                        <mat-hint>Kiểm tra email của bạn</mat-hint>
                                        <mat-error *ngIf="verifytoken.invalid && verifytoken.touched && verifytoken.errors.required"> Email không rỗng </mat-error>
                                        <div class="error" *ngIf="token"> Mã không tồn tại </div>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button mat-button class="mg-lt" >Xác nhận</button>
                                </td>
                            </tr>
                        </table>
                        <div>
                        <button mat-button matStepperPrevious>Trước</button>
                        <button mat-button>Sau</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="formCrPass">
                    <form [formGroup]="formCrPass" (ngSubmit)="createPassword(stepper)">
                        <ng-template matStepLabel>Tạo mới mật khẩu</ng-template>
                        <mat-form-field appearance="outline">
                            <mat-label>Mật khẩu</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid && password.touched && password.errors.required">Không được bỏ trống</mat-error>
                        </mat-form-field><br>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Xác nhận mật khẩu</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="configpassword">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="configpassword.invalid && configpassword.touched && configpassword.errors.required">Không được bỏ trống</mat-error>
                            <div class="error" *ngIf="formCrPass.errors?.configpassword">Mật khẩu không trùng nhau</div>
                        </mat-form-field>
                        <div>
                        <button mat-button matStepperPrevious>Trước</button>
                        <button mat-button>Sau</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                <ng-template matStepLabel>Thành công</ng-template>
                <p>Đăng nhập ngay</p>
                <div>
                    <button mat-button routerLink="/login">Đăng nhập</button>
                </div>
                </mat-step>
            </mat-vertical-stepper>
		</mat-card-content>
	</mat-card>
</div>