.form {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
    padding-top: 3%;
}

mat-form-field {
    margin-bottom: 3px;
}

.field-title {
    background: #3f51b5;
    color: white;
}

.field-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

h1 {
    border-bottom: 1px solid;
}

button {
    display: block;
    margin-top: 20px;
    float: right;
}

.error {
    position: absolute;
    display: block;
    display: block;
    color: #f44336;
    font-size: 75%;
    padding-top: 20px;
}
  